In [96]:
import pandas as pd
import numpy as np

df = pd.read_csv('NationalNames.csv')

In [97]:
df.isnull().any()

Id        False
Name      False
Year      False
Gender    False
Count     False
dtype: bool

In [98]:
df.groupby(['Name'])['Count'].sum().sort_values(ascending=False).head(n=1)

Name
James    5129096
Name: Count, dtype: int64

In [100]:
name_to_ratio = {}

for name, row in df.groupby(["Name", "Gender"], as_index=False).sum().groupby(["Name"]):
    if len(row) == 2:
        female, male = row.iloc[0, :], row.iloc[1, :]
        name_to_ratio[female["Name"]] = np.abs(1 - 1. * female['Count'] / male['Count'])

names = sorted(name_to_ratio, key=name_to_ratio.get, reverse=False)

In [103]:
names[:10]

['Asil',
 'Shondel',
 'Maesen',
 'Terrice',
 'Irin',
 'Kanari',
 'Shinobu',
 'Darley',
 'Nathel',
 'Verlynn']